

#container{
    width: 100%;
}
#header{
    height: 60px;
    background-image: url(https://i.pinimg.com/originals/64/f7/54/64f75410341b139db0df4164d4269146.jpg);
    background-size: 100% 100px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;

}

#header .logo-text {
    float: left;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    font-style: italic;
    padding-left: 50px;
}
/* ------------------------ */

/* ----------menu----------- */

#menu{
    height: 46px;
    background: #f66e34;
    top: 60px;
    left: 0;
    right: 0;
}

#navigation{
    display: inline-block;
}

#navigation > li > a{
    text-transform: uppercase;
    color: #fff;
}

#navigation li a{
    color: aliceblue;
    text-decoration: none;
    line-height: 46px;
    padding: 0 18px;
    display: block;
}

#navigation .subnav li:hover  a,
#navigation .subnav  > li:hover > a{
    background-color: #ccc;
}
#navigation > li:hover > a{
    color: black;
}
#navigation > li{
    display: inline-block;
}

#navigation li{
    position: relative;
}

table{
    text-align: center;
}
.row{
    margin-bottom: 20px;
}
