*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* ---------header---------- */

#header{
    height: 60px;
    background-image: url(https://i.pinimg.com/originals/64/f7/54/64f75410341b139db0df4164d4269146.jpg);
    background-size: 100% 100px;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

#header .logo-text {
    float: left;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    font-style: italic;
    padding-left: 50px;
}
/* ------------------------ */

/* ----------menu----------- */

#menu{
    height: 46px;
    background: #f66e34;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
}

#navigation{
    display: inline-block;
}

#navigation .input-search{
    padding-left: 20px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
}

#navigation > li > a{
    text-transform: uppercase;
    color: #fff;
}

#navigation li a{
    color: aliceblue;
    text-decoration: none;
    line-height: 46px;
    padding: 0 18px;
    display: block;
}
#navigation .subnav li:hover .subnav-right,
#navigation li:hover .subnav{
    display: block;
}

#navigation .subnav .subnav-right li:hover  a,
#navigation .subnav  > li:hover > a{
    background-color: #ccc;
}
#navigation > li:hover > a{
    color: black;
}
#navigation > li{
    display: inline-block;
}
#navigation .trangchu{
    padding-left: 40px;
}
#navigation .right{
    padding-left: 150px;
}

#navigation li{
    position: relative;
}
#navigation .subnav{
    display: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#navigation .subnav a{
    padding: 0 12px;
    color: black;
    line-height: 46px;
}
#navigation .subnav .subnav-right{
    position: absolute;
    background-color: #fff;
    top: 0;
    min-width: 160px;
    left: -100%;
    right: 500px;
    display: none;
}

/* ------------------------- */

/* -----------slider--------- */

#slider{
    margin: 20px auto;
    margin-top: 150px;
    width: 1200px;
}

/* ----------content------------- */

#content{
    width: 1200px;
    margin: 20px auto;
    border-radius: 10px;
    height: auto;
}

#content .sanpham{
    margin-bottom: 20px;
    text-align: center;
    color: #f66e34;
    border-radius: 10px;
    border: 2px solid #f66e34;
    font-size: 18px;
    line-height: 35px;
    height: 35px;
}

.products{
    display: flex;
    flex-wrap: wrap;
}
.products li{
    width: 15%;
    border-radius: 10px;
    border: 1px solid tomato;
    margin: 5px 10px;
    text-align: center;
}
.product-price{
    color: rgb(52, 96, 228);
}
.products li a{
    color: rgb(228, 93, 15);
}

.products li img{
    margin: 5px;
    max-width: 95%;
    height: auto;
    display: block;
}
.products li .product-top{
    display: block;
}
.products li:hover .product-top{
    position: relative;
}
.products li:hover img{
    filter: opacity(80%);
}
.products li:hover .buy-now{
    display: block;
    filter: opacity(80%);
}
.products .product-top .buy-now{
    text-align: center;
    display: none;
    background: #FF6600;
    padding: 10px 0px;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
/* ------------------------- */

.clear{
    clear: both;
}

/* -----------footer----------- */
#footer{
    font-family: Arial;
    background-color: rgb(127, 201, 228);
    height: 300px;
}
#footer div{
    color: blanchedalmond;
}
.ti-home, .ti-mobile, .ti-email{
    padding-right: 10px;
}

.title_footer .logo{
    text-align: center;
    padding-top: 50px;
}
.title_footer .lienhe li{
    padding-top: 20px;
}
.title_footer .lienhe{
    padding-top: 20px;
    padding-left: 100px;
}
/* ----------- */